/* src/components/Experience.css */
.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    top: 0px;
    background-color: #000;
    color: #fff;
    position: relative;
    width: 100%;
}

.highlight {
    color: #0066cc;
    font-size: 50px;
}

.experience-title {
    font-size: 36px;
    margin-bottom: 50px;
    text-align: left;
}

.experience {
    width: 70%;
    color: #fff;
}

.experience-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
    justify-content: center;
}

.experience-card {
    background-color: #111;
    border-radius: 10px;
    width: 300px; /* Ajusta el tamaño de las tarjetas */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.experience-icon {
    font-size: 48px;
    color: #0066cc;
    margin-bottom: 20px;
}

.experience-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.experience-card p {
    font-size: 16px;
    margin-bottom: 10px;
}

@media (max-width: 768px){
    .experience-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120vh;
        top: 0px;
        background-color: #000;
        color: #fff;
        padding: 0 50px;
        position: relative;
    }

    .highlight {
        font-size: 45px;
    }

    .experience-content h3 {
        font-size: 18px;
    }

    .experience-content h4 {
        font-size: 14px;
    }

    .experience-content p {
        font-size: 12px;
    }

    .experience-date p {
        font-size: 12px;
    }

    .experience-content li {
        font-size: 12px;
    }

    .experience-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
    }

    .experience-card {
        background-color: #111;
        border-radius: 10px;
        width: 300px; /* Ajusta el tamaño de las tarjetas */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
}

@media (max-width: 585px){
    .experience-container {
        display: block;
        justify-content: center;
        align-items: center;
        height: 120vh;
        top: -60px;
        background-color: #000;
        color: #fff;
        padding: 0 50px;
        position: relative;
    }
    .highlight {
        font-size: 45px;
    }

    .experience-content h3 {
        font-size: 18px;
    }

    .experience-content h4 {
        font-size: 14px;
    }

    .experience-content p {
        font-size: 12px;
    }

    .experience-date p {
        font-size: 12px;
    }

    .experience-content li {
        font-size: 12px;
    }

    .experience-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        margin-left: 75px;
    }

    .experience-card {
        background-color: #111;
        border-radius: 10px;
        width: 300px; /* Ajusta el tamaño de las tarjetas */
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
}
