/* src/components/Timeline.css */

.timeline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0px;
    background-color: #0E1212;
    color: #0E1212;
    position: relative;
    width: 100%;
}


.highlight {
    color: #0066cc;
    font-size: 50px;
}

.timeline-title {
    font-size: 36px;
    margin-bottom: 50px;
    text-align: left;
}

.timeline {
    width: 70%;
    color: #fff;
}

.timeline-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    border-left: 4px solid #0066cc;
    padding-left: 20px;
}

.timeline-content {
    text-align: left;
    max-width: 70%;
}

.timeline-date {
    max-width: 30%;
    text-align: right;
    font-style: italic;
    color: #ccc;
}

.timeline-content h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.timeline-content h4 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: normal;
    color: #ccc;
}

.timeline-content p {
    margin: 5px 0;
    font-size: 14px;
    color: #999;
}

.timeline-content ul {
    list-style: disc;
    padding-left: 20px;
}

.timeline-content li {
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
}

@media (max-width: 768px){
    .timeline-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150vh;
        top: 0px;
        background-color: #0E1212;
        color: #fff;
        padding: 0 50px;
        position: relative;
    }

    .highlight {
        font-size: 45px;
    }

    .timeline-content h3 {
        font-size: 18px;
    }

    .timeline-content h4 {
        font-size: 14px;
    }

    .timeline-content p {
        font-size: 12px;
    }

    .timeline-date p {
        font-size: 12px;
    }

    .timeline-content li {
        font-size: 12px;
    }
}

@media (max-width: 585px){
    .timeline-container {
        display: block;
        justify-content: center;
        align-items: center;
        height: 310vh;
        top: -30px;
        background-color: #0E1212;
        color: #fff;
        padding: 0 50px;
        position: relative;
    }
}